
<top-bar></top-bar>
<div class="container">


    <div class="row" *ngIf="auth.isLogin">
        <div class="col-md-4">
          <left-bar></left-bar>
        </div>
        <div class="col-md-8" style="background-color: red;">
            <button type="button" 
            class="btn btn-primary"
            (click)="doLogout()">
            Logout</button>
        </div>
    </div>

    <div class="col-md-12"  *ngIf="!auth.isLogin">
        <button type="button" class="btn btn-primary" (click)="doLogin()">Login</button>
    </div>

  </div>

<footer-app></footer-app>